<?xml version="1.0" encoding="UTF-8"?>

<!-- Import global variables -->
<?include ..\_SolutionItems\Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Language="1033"
           Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" 
           UpgradeCode="c8795db6-2426-4f40-a615-671f26fcaf3a">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <!-- UI-Dialogs -->
    <UIRef Id="WixUI_KargWareFeatureTree"/>
    <SetProperty Id="PreReg1FoundText" Value="Prerequisites 1" Before="AppSearch" />
    <SetProperty Id="PREREG1CONDITION" Value="required" Sequence="ui" Before="LaunchConditions"><![CDATA[(1)]]></SetProperty>
    <!--<SetProperty Id="PreReg2FoundText" Value="Prerequisites 2" Before="AppSearch" />
    <SetProperty Id="PreReg3FoundText" Value="Prerequisites 3" Before="AppSearch" />
    <SetProperty Id="PreReg4FoundText" Value="Prerequisites 4" Before="AppSearch" />
    <SetProperty Id="PreReg5FoundText" Value="Prerequisites 5" Before="AppSearch" />-->
    
		<Feature Id="ProductFeature" Title="WixToolset_Tutorials.Msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WixToolset_Tutorials.Msi" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
