<?include ..\_SolutionItems\Variables.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment Id="FragDirectories">
      
      <!-- WIX TOOLSET FOLDERS: https://docs.microsoft.com/en-us/windows/win32/msi/property-reference?redirectedfrom=MSDN#system-folder-properties -->

      <!-- C:\Program Files (x86)\MANUFACTURER\PRODUCT -->
      <StandardDirectory Id="ProgramFiles6432Folder">
        <Directory Id="ManufacturerFolder" Name="$(var.Manufacturer)">
          <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">
          </Directory>
        </Directory>
      </StandardDirectory>

    </Fragment>

  <!--<Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)" />
    </StandardDirectory>
  </Fragment>-->
</Wix>
