<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="x64"
        MajorVersion="6"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v6_0_0_x64">
    <ExePackage Id="Netfx60"
                DisplayName="Microsoft .NET 6.0 ASP.NET Core"
                Description="Microsoft .NET 6.0 (6.0.0) ASP.NET Core for windows x64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v6.0.0"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-6.0.0-windows-x64.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/3223fa10-441d-406b-af2e-94874ce38199/09347f9b4aea0ab34d6944b6b78fa29d/aspnetcore-runtime-6.0.0-win-x64.exe"
            Hash="2e589f40a5538afc4aeeb0af106f683e294cba2e1e2624769735efe1468e1e6649b6e5f4bf9af3e7034a9e040e8bc2d7c68632b7aa1db433067f4b7c3b8c0741"
            Size="8897224" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
