<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="x86"
        MajorVersion="5"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v5_0_5_x86">
    <ExePackage Id="Netfx50"
                DisplayName="Microsoft .NET 5.0 Runtime"
                Description="Microsoft .NET 5.0 (5.0.5) Runtime for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v5.0.5"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-5.0.5-windows-x86.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/da3570c4-7015-48d0-b340-14810865fb60/45f680c86b37f73bc73d2ed99f9a738c/dotnet-runtime-5.0.5-win-x86.exe"
            Hash="b391752021a5189de96b7bc0db98184066ecbf38b0339c505d68a0e73d3f2a70f6eec9b0a1863606019c1c8594b89f66fe0b55283053c52089bb3e7d6babfcce"
            Size="23959424" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
