<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="x64"
        MajorVersion="6"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v6_0_12_x64">
    <ExePackage Id="Netfx60"
                DisplayName="Microsoft .NET 6.0 ASP.NET Core"
                Description="Microsoft .NET 6.0 (6.0.12) ASP.NET Core for windows x64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v6.0.12"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-6.0.12-windows-x64.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/9e94fe1b-188a-4880-9e40-2cbb1fd98afc/84671c89295704cff726b014a502e188/aspnetcore-runtime-6.0.12-win-x64.exe"
            Hash="9ecc376194cd5e1479cbd5dc45f2bdfe215b1780d98f1098dc34fd98ac6cf106f19dbd0c610c27aebef5897187b9ec216a41dd60070519871eaa4eb4cafd0abb"
            Size="8955112" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
