<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="x86"
        MajorVersion="9"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v9_0_19_x86">
    <ExePackage Id="Netfx90"
                DisplayName="Microsoft .NET 9.0 ASP.NET Core"
                Description="Microsoft .NET 9.0 (9.0.19) ASP.NET Core for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v9.0.19"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-9.0.19-windows-x86.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/aspnetcore/Runtime/9.0.19/aspnetcore-runtime-9.0.19-win-x86.exe"
            Hash="d4d61fb41c14fe0360225c09776b34e11d35ec775c33ba3475e9e1ab934797fbf2278c059ebc6943fc3063521f82cf6bb2b416705920ee98320e43daa074ef25"
            Size="9875336" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
