<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="x86"
        MajorVersion="9"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v9_0_9_x86">
    <ExePackage Id="Netfx90"
                DisplayName="Microsoft .NET 9.0 Runtime"
                Description="Microsoft .NET 9.0 (9.0.9) Runtime for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v9.0.9"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-9.0.9-windows-x86.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/Runtime/9.0.9/dotnet-runtime-9.0.9-win-x86.exe"
            Hash="c3959da19ff6fe2c41df35301018e0ea4325cf43d2759b767af24970e7def801e62db98758c36f7b5671bc03cbfbd3a079c9dd78b570e09e0d06bf3b59cd8433"
            Size="27101768" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
