<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="x86"
        MajorVersion="6"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v6_0_8_x86">
    <ExePackage Id="Netfx60"
                DisplayName="Microsoft .NET 6.0 Runtime"
                Description="Microsoft .NET 6.0 (6.0.8) Runtime for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v6.0.8"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-6.0.8-windows-x86.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/db70cd1d-4f33-4dc4-8293-57bb362175c7/5c27048a0fc814e58bc196666a9b0c61/dotnet-runtime-6.0.8-win-x86.exe"
            Hash="439a0f6d92af686d30641c8efdaf3adbf4bdeb0720441d90931fb12e0589b82b052d94adcbeaf8713865832e2ca670ff37b36eaf6099799a8a781631f47a0fe7"
            Size="25938520" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
