<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="x86"
        MajorVersion="9"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v9_0_10_x86">
    <ExePackage Id="Netfx90"
                DisplayName="Microsoft .NET 9.0 ASP.NET Core"
                Description="Microsoft .NET 9.0 (9.0.10) ASP.NET Core for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v9.0.10"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-9.0.10-windows-x86.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/aspnetcore/Runtime/9.0.10/aspnetcore-runtime-9.0.10-win-x86.exe"
            Hash="3c8915f96294767a4afd6c8a974c4590ee0f11568f4958b034df5d9757b83e7f7cd9a018b999e67a576dd78136b9aacd0d109f556cc691ca9323e987e93a8553"
            Size="9817064" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
