<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="x86"
        MajorVersion="6"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v6_0_22_x86">
    <ExePackage Id="Netfx60"
                DisplayName="Microsoft .NET 6.0 ASP.NET Core"
                Description="Microsoft .NET 6.0 (6.0.22) ASP.NET Core for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v6.0.22"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-6.0.22-windows-x86.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/aec975a2-16e3-4654-ad07-db9925012ca2/6a087cfaad1f8064933274fab65b7cd7/aspnetcore-runtime-6.0.22-win-x86.exe"
            Hash="5e6aa0e7a781b2e916360695cec503c73a593fc0d57cba2c530a203161b6b4a94ffefb5bd060276f07bbb8b626a8909c27b40557a0618cc2e817306242ae12db"
            Size="8228088" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
