<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="x86"
        MajorVersion="6"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v6_0_6_x86">
    <ExePackage Id="Netfx60"
                DisplayName="Microsoft .NET 6.0 Runtime"
                Description="Microsoft .NET 6.0 (6.0.6) Runtime for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v6.0.6"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-6.0.6-windows-x86.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/60c4767e-c0df-491b-970c-cf69d0c2c581/524ccc6ff8aa96120753ab387bf22d5d/dotnet-runtime-6.0.6-win-x86.exe"
            Hash="293df8c1efce6e3e7c03023fb581aa744587a43f98c64fb63300cdd8bfa26822cbdb88a4c94ac04959f0fe1e561b20a8a7ad0cfc240223e7022dcce5fca2024c"
            Size="25987776" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
