<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="desktop"
        Platform="x64"
        MajorVersion="8"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_DesktopRuntime_v8_0_30_x64">
    <ExePackage Id="Netfx80"
                DisplayName="Microsoft .NET 8.0 Desktop Runtime"
                Description="Microsoft .NET 8.0 (8.0.30) Desktop Runtime for windows x64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v8.0.30"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-desktop-8.0.30-windows-x64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/8.0.30/windowsdesktop-runtime-8.0.30-win-x64.exe"
            Hash="b4498f93cd6817e28acd5c2aaa80fb7271f5ea62d7f3e2171b2b30d36a15ba950311208cea55fc0903fc962fbc3184d457885dfe7c4ab19c022b52fff6fcaceb"
            Size="58510672" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
