<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="x64"
        MajorVersion="6"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v6_0_6_x64">
    <ExePackage Id="Netfx60"
                DisplayName="Microsoft .NET 6.0 Runtime"
                Description="Microsoft .NET 6.0 (6.0.6) Runtime for windows x64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v6.0.6"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-6.0.6-windows-x64.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/7989338b-8ae9-4a5d-8425-020148016812/c26361fde7f706279265a505b4d1d93a/dotnet-runtime-6.0.6-win-x64.exe"
            Hash="ac180f361b74af4145d141726f40e5d3d854f18f3bd96e7e4eef015e208fb1af04f12b285d3c18bb5d7abaf47afa5ab6609b66e78551aee1b6327dbb504c1edd"
            Size="28339064" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
