<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="arm64"
        MajorVersion="8"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v8_0_10_arm64">
    <ExePackage Id="Netfx80"
                DisplayName="Microsoft .NET 8.0 ASP.NET Core"
                Description="Microsoft .NET 8.0 (8.0.10) ASP.NET Core for windows arm64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v8.0.10"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-8.0.10-windows-arm64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/aspnetcore/Runtime/8.0.10/aspnetcore-runtime-8.0.10-win-arm64.exe"
            Hash="a159c9a9c1d7d5b057d561c6f6ce6df08b791fbc1a3803f16791680a4400210703443fe2b2785c9ab111fc035541fe7929269b39258cb1ed19031113b2423180"
            Size="10054416" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
