<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="arm64"
        MajorVersion="10"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v10_0_0_arm64">
    <ExePackage Id="Netfx100"
                DisplayName="Microsoft .NET 10.0 Runtime"
                Description="Microsoft .NET 10.0 (10.0.0) Runtime for windows arm64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v10.0.0"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-10.0.0-windows-arm64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/Runtime/10.0.0/dotnet-runtime-10.0.0-win-arm64.exe"
            Hash="319e561164311a4bd63932febb953100d9dd11b050a6ce93383183f84b24db7fb9ec6f3e0cbd717fc9f217c6b5664878f09e0a06dcb126c41a16d9930b64b92b"
            Size="28538376" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
