<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="x86"
        MajorVersion="7"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v7_0_17_x86">
    <ExePackage Id="Netfx70"
                DisplayName="Microsoft .NET 7.0 ASP.NET Core"
                Description="Microsoft .NET 7.0 (7.0.17) ASP.NET Core for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v7.0.17"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-7.0.17-windows-x86.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/b52321fc-bb1c-4314-9990-a373e75e1b91/8c92eb4e78cc902148fc920d01080039/aspnetcore-runtime-7.0.17-win-x86.exe"
            Hash="c7c17315260e0189599763450014ba36b919961b3e789107382e72d4cf8c7597a0a17a5b1505e2f37419771780dd836df344f215887c6d5768aee2c7e45d4865"
            Size="8865376" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
