<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="desktop"
        Platform="x64"
        MajorVersion="5"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_DesktopRuntime_v5_0_12_x64">
    <ExePackage Id="Netfx50"
                DisplayName="Microsoft .NET 5.0 Desktop Runtime"
                Description="Microsoft .NET 5.0 (5.0.12) Desktop Runtime for windows x64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v5.0.12"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-desktop-5.0.12-windows-x64.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/1daf85dc-291b-4bb8-812e-a0df5cdb6701/85455a4a851347de26e2901e043b81e1/windowsdesktop-runtime-5.0.12-win-x64.exe"
            Hash="174d9894ec52f1df21161af01a8db9b778d9270bc7471153e475a091a24fafb56bb34cd6a73afc3842061b48d5d31b34ad05364f4cae2da4538cab4fc54cc21f"
            Size="54943440" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
