<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="arm64"
        MajorVersion="9"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v9_0_18_arm64">
    <ExePackage Id="Netfx90"
                DisplayName="Microsoft .NET 9.0 ASP.NET Core"
                Description="Microsoft .NET 9.0 (9.0.18) ASP.NET Core for windows arm64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v9.0.18"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-9.0.18-windows-arm64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/aspnetcore/Runtime/9.0.18/aspnetcore-runtime-9.0.18-win-arm64.exe"
            Hash="ad331178efefdd4cae913b98f6fe00ff81bb9ffc05c34d3c8a3fddc67f93c3b5e5b65130ea9c9936557366ef936e0b1ba7dd191361d1f630734656e60c530278"
            Size="10168584" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
