<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="arm64"
        MajorVersion="10"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v10_0_7_arm64">
    <ExePackage Id="Netfx100"
                DisplayName="Microsoft .NET 10.0 ASP.NET Core"
                Description="Microsoft .NET 10.0 (10.0.7) ASP.NET Core for windows arm64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v10.0.7"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-10.0.7-windows-arm64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/aspnetcore/Runtime/10.0.7/aspnetcore-runtime-10.0.7-win-arm64.exe"
            Hash="8a88e729eafe4dd9911361f27631987cad462a3639ecc1e2fba63e6d4355f5daef18f9fce2130b717357704149ba82aa464399bef3a087a013293108f463aacd"
            Size="10769368" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
