<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="x64"
        MajorVersion="10"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v10_0_10_x64">
    <ExePackage Id="Netfx100"
                DisplayName="Microsoft .NET 10.0 Runtime"
                Description="Microsoft .NET 10.0 (10.0.10) Runtime for windows x64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v10.0.10"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-10.0.10-windows-x64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/Runtime/10.0.10/dotnet-runtime-10.0.10-win-x64.exe"
            Hash="3da6a3ff032e91ceaafa8d383f2aa38fff451c0d04f0db111570982c752687f219ad31db243d336fa4ae46ba7b686169ae9fb74ee45692705ddce181bd2e7f80"
            Size="30655152" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
