<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="x86"
        MajorVersion="6"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v6_0_7_x86">
    <ExePackage Id="Netfx60"
                DisplayName="Microsoft .NET 6.0 ASP.NET Core"
                Description="Microsoft .NET 6.0 (6.0.7) ASP.NET Core for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v6.0.7"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-6.0.7-windows-x86.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/a6f2f0c7-07ff-4255-88e6-707b84990828/db97169bf75388792cb52881dcc6afbc/aspnetcore-runtime-6.0.7-win-x86.exe"
            Hash="8b99a164e67aca14227f8eb90165e16189cc2ffda21c276e1ba100fbdfe6d83bf87bcf89f2423ebeef21c9e6eca6dcbf8896690a6fb9235fef7bd7f02b3494ef"
            Size="8258024" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
