<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="desktop"
        Platform="arm64"
        MajorVersion="6"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_DesktopRuntime_v6_0_2_arm64">
    <ExePackage Id="Netfx60"
                DisplayName="Microsoft .NET 6.0 Desktop Runtime"
                Description="Microsoft .NET 6.0 (6.0.2) Desktop Runtime for windows arm64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v6.0.2"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-desktop-6.0.2-windows-arm64.exe"
            DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/1ab1a9fa-5aab-4487-9048-0daaf74c90f8/e23a567db4880fce75c467d3e9f72b92/windowsdesktop-runtime-6.0.2-win-arm64.exe"
            Hash="de3fbb4cafb010590e7658c5f3d5aa13e93bf399d205f610cf3b78208a3aa463ec341cd26c3d40da4e159b7fba1096547d6f5bdfd5298e52d67947555d04a94d"
            Size="51462688" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
