<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="arm64"
        MajorVersion="9"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v9_0_7_arm64">
    <ExePackage Id="Netfx90"
                DisplayName="Microsoft .NET 9.0 Runtime"
                Description="Microsoft .NET 9.0 (9.0.7) Runtime for windows arm64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v9.0.7"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-9.0.7-windows-arm64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/Runtime/9.0.7/dotnet-runtime-9.0.7-win-arm64.exe"
            Hash="f7be49bc64c6ced107621367a9d98305dbc39afefad1537104db7a8d533eeb40a8f57fdd2f03daac7512dbee8c501cfe68ccde84186c8b0238a989bb91f7817e"
            Size="28777168" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
