<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="aspnet"
        Platform="x64"
        MajorVersion="10"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_ASP_NET_v10_0_9_x64">
    <ExePackage Id="Netfx100"
                DisplayName="Microsoft .NET 10.0 ASP.NET Core"
                Description="Microsoft .NET 10.0 (10.0.9) ASP.NET Core for windows x64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v10.0.9"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-aspnetcore-10.0.9-windows-x64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/aspnetcore/Runtime/10.0.9/aspnetcore-runtime-10.0.9-win-x64.exe"
            Hash="6cebce3b5bb92939f9c2297505321a28607ead7398b99c6d195890c04a6f22bb468879a039efad66199d917b6f298fc78047fd5e2e7a159d8bb32023ea7dfa7b"
            Size="11254456" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
