<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="core"
        Platform="x86"
        MajorVersion="9"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_Runtime_v9_0_8_x86">
    <ExePackage Id="Netfx90"
                DisplayName="Microsoft .NET 9.0 Runtime"
                Description="Microsoft .NET 9.0 (9.0.8) Runtime for windows x86"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v9.0.8"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-9.0.8-windows-x86.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/Runtime/9.0.8/dotnet-runtime-9.0.8-win-x86.exe"
            Hash="ad1e497d0ec3d02ee027f5afad54f321c24d5d9b5b5be68f365d1e3c089dca8466855b9d829fd635be2d8b3b7edb52077aa9d064b26da763a472657080fe4996"
            Size="27172256" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
