<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="desktop"
        Platform="arm64"
        MajorVersion="9"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_DesktopRuntime_v9_0_20_arm64">
    <ExePackage Id="Netfx90"
                DisplayName="Microsoft .NET 9.0 Desktop Runtime"
                Description="Microsoft .NET 9.0 (9.0.20) Desktop Runtime for windows arm64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v9.0.20"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-desktop-9.0.20-windows-arm64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/9.0.20/windowsdesktop-runtime-9.0.20-win-arm64.exe"
            Hash="757059f9b87fb833c3fe645046c7a21c1ca9ceb095de0791b4c78b6a4d3e10efd034c2b5751b8788a5dba8108b7c2ae9aa95feca8568c9988f896379605594a5"
            Size="56238192" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
