<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

    <Fragment>
    <netfx:DotNetCoreSearch
        RuntimeType="desktop"
        Platform="arm64"
        MajorVersion="9"
        Variable="DOT_NET_VER" />

    <PackageGroup Id="DotNet_DesktopRuntime_v9_0_10_arm64">
    <ExePackage Id="Netfx90"
                DisplayName="Microsoft .NET 9.0 Desktop Runtime"
                Description="Microsoft .NET 9.0 (9.0.10) Desktop Runtime for windows arm64"
                PerMachine="yes" Permanent="yes" Vital="yes" InstallArguments="/norestart /quiet"
                DetectCondition="DOT_NET_VER &gt;= v9.0.10"
                bal:PrereqPackage="yes">
        <ExePackagePayload
            Name="runtime-desktop-9.0.10-windows-arm64.exe"
            DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/9.0.10/windowsdesktop-runtime-9.0.10-win-arm64.exe"
            Hash="989527e908d653047a59858383071ba9d949483b97af326c58b93a63b1be4d0f888b1dbb301aab9f5ab24a36f7c995754947d761698a04a3a70258ed49f0f48b"
            Size="56005744" />
        <ExitCode Value="0" Behavior="success" />
        <ExitCode Behavior="scheduleReboot" />
    </ExePackage>
    </PackageGroup>
    </Fragment>
</Wix>
