<?xml version="1.0" encoding="UTF-8"?>

<!-- Import global Variables -->
<?include ..\_SolutionItems\Variables.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)"
          UpgradeCode="5952ee24-d9e7-4165-ab69-2d597e44fdda">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
      <!-- Normal MSI Installer -->
      <MsiPackage
        SourceFile="$(var.WixToolset-Tutorials.Msi.TargetDir)\$(var.WixToolset-Tutorials.Msi.TargetName).msi"
        DisplayInternalUI="yes"
        Visible="yes"
        Id="Product_$(var.ProductVersion)_MsiPackage"/>
		</Chain>
	</Bundle>
</Wix>
